<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mobile App Development Course</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css">
    <style>
      body {
        font-family: "Roboto", sans-serif;
        display: flex;
        height: 100vh;
        margin: 0;
        background-color: #f0f2f5;
        color: #333;
      }
      #sidebar {
        width: 300px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        border-right: 1px solid #e0e0e0;
      }
      #sidebar h2 {
        font-size: 1.5em;
        color: #0056b3;
        margin-bottom: 20px;
      }
      #sidebar label {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: 10px;
        border-radius: 5px;
      }
      #sidebar label:hover {
        background-color: #f1f1f1;
      }
      #sidebar input[type="checkbox"] {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        appearance: none;
        -webkit-appearance: none;
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
      }

      #sidebar input[type="checkbox"]:checked {
        background-color: #28a745;
        border: none;
      }

      #sidebar input[type="checkbox"]:checked::after {
        content: "✔";
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .completed {
        color: inherit;
      }

      #content {
        flex-grow: 1;
        padding: 40px;
        overflow-y: auto;
        background-color: #fafafa;
      }
      .content-section {
        display: none;
      }
      .content-section.active {
        display: block;
        animation: fadeIn 0.5s;
      }
      /* .completed::after {
        content: "✔";
        color: green;
        font-weight: bold;
        margin-left: 10px;
      } */
      #slider {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
      }
      #slider select {
        padding: 10px;
        font-size: 16px;
        pointer-events: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      #slider button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #0056b3;
        color: #fff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }
      #slider button:hover {
        background-color: #004494;
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .btn-complete {
        padding: 15px 30px;
        font-size: 18px;
        cursor: pointer;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        display: block;
        margin: 0 auto;
      }
      .btn-complete:hover {
        background-color: #218838;
      }

      
      .content-section h2 {
          color: #0056b3;
          margin-bottom: 20px;
      }
      .content-section ul {
        padding-left: 20px;
        margin-block-start: 0em;
      }


      .content-section p {
        margin-block-start: 0em;
        margin-block-end: 0em;
      }

      .selected-topic {
        background-color: #d1e7ff;
        color: #0056b3;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <!-- <div id="sidebar">
      <h2><a href="/Home">Course Topics</a></h2>
      <% for(let i = 1; i <= 10; i++) { %>
        <div>
          <label class="<%= index === i ? 'selected-topic' : '' %>">
            <input type="checkbox" id="checkbox-<%= i %>" <%= progress >= i ? 'checked' : '' %> disabled />
            <span id="topic-<%= i %>-label" class="<%= progress >= i ? 'completed' : '' %>">
              <%= topics[i - 1] %>
            </span>
          </label>
        </div>
      <% } %>
    </div> -->
    <div id="sidebar">
      <h2><a href="/Home">Course Topics</a></h2>
      <% for(let i = 1; i <= 10; i++) { %>
        <div>
          <label class="<%= index === i ? 'selected-topic' : '' %>">
            <div><input type="checkbox" id="checkbox-<%= i %>" <%= progress >= i ? 'checked' : '' %> disabled /></div>
            
            <span id="topic-<%= i %>-label">
              <%= topics[i - 1] %>
            </span>
          </label>
        </div>
      <% } %>
    </div>

    <div id="content">
      <div id="slider">
        <button id="prevBtn" style="<%= index == 1 ? 'display: none;' : '' %>">Previous</button>
        <select id="topic-slider" disabled>
          <% for(let i = 1; i <= 10; i++) { %>
            <option value="<%= i %>" <%= index === i ? 'selected' : '' %>><%= i %> of 10</option>
          <% } %>
        </select>
        <button id="nextBtn" style="<%= index == 10 ? 'display: none;' : '' %>">Next</button>
      </div>
      <div id="content-1" class="content-section  <%= index === 1 ? 'active' : '' %>">
        <%- include('partials/content1') %>
      </div>
      <div id="content-2" class="content-section  <%= index === 2 ? 'active' : '' %>">
        <%- include('partials/content2') %>
        <!-- Add content here -->
      </div>
      <div id="content-3" class="content-section  <%= index === 3 ? 'active' : '' %>">
        <%- include('partials/content3') %>
        <!-- Add content here -->
      </div>
      <div id="content-4" class="content-section  <%= index === 4 ? 'active' : '' %>">
        <%- include('partials/content4') %>
        <!-- Add content here -->
      </div>
      <div id="content-5" class="content-section  <%= index === 5 ? 'active' : '' %>">
        <%- include('partials/content5') %>
        <!-- Add content here -->
      </div>
      <div id="content-6" class="content-section  <%= index === 6 ? 'active' : '' %>">
        <%- include('partials/content6') %>
        <!-- Add content here -->
      </div>
      <div id="content-7" class="content-section  <%= index === 7 ? 'active' : '' %>">
        <%- include('partials/content7') %>
        <!-- Add content here -->
      </div>
      <div id="content-8" class="content-section  <%= index === 8 ? 'active' : '' %>">
        <%- include('partials/content8') %>
        <!-- Add content here -->
      </div>
      <div id="content-9" class="content-section  <%= index === 9 ? 'active' : '' %>">
        <%- include('partials/content9') %>
        <!-- Add content here -->
      </div>
      <div id="content-10" class="content-section  <%= index === 10 ? 'active' : '' %>">
        <%- include('partials/content10') %>
        <!-- Add content here -->
        
        <% if(progress == 10) { %>
          <button onclick="location.href='/TestInstruction'" class="btn-complete">
            Proceed to Test
          </button>
        <% } else { %>
          <!-- Success Message -->
          <button id="btn-complete" class="btn-complete">
            Complete
          </button>
        <% } %>
      </div>
    </div>

    <script>
      let currentSection = <%= index %>;
      const totalSections = 10;

      document.getElementById('prevBtn').addEventListener('click', () => {
          let currentSection = <%= index %>;
          const newindex = currentSection - 1; // Replace with your logic to determine the index
          window.location.href = `/Content?index=${newindex}`;
      });

      document.getElementById('nextBtn').addEventListener('click', () => {
          let currentSection = <%= index %>;
          const newindex = currentSection + 1; // Replace with your logic to determine the index
          window.location.href = `/Content?index=${newindex}`;
      });

      document.getElementById('btn-complete').addEventListener('click', () => {
          window.location.href = `/complete`;
      });
   
    </script>
  </body>
</html>
